node_modules/
data/
.env
*.db
.DS_Store
Thumbs.db
public/images/*
!public/images/.gitkeep
!public/images/favicon.svg
!public/images/logo-nav.svg
!public/images/logo-union.svg
!public/images/logo-unx.png
!public/images/og-image.jpg
!public/images/og-image.png
